.headerüstü {
  background-color: aquamarine;
  padding: 1rem;
  width: 100%;
}

.appnavbar {
  width: 100%;
}

.cardlarındiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px 400px 500px;
  gap: 2rem;
}

@media (max-width: 900px) {
  .cardlarındiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 600px 1fr;

    gap: 2rem;
  }
}
@media (max-width: 500px) {
  .cardlarındiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 2rem;
  }
}
